.quantity-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: max-content;
}

.quantity-selector label{
    visibility: hidden;
    width: 0;
}

.quantity-selector input{
    background-color: var(--bg-color-nav);
    color: var(--txt-color-light);
    font-size: 1rem;
    font-weight: 700;
    width: 48px;
    height: 36px;
    text-align: center;
    border: 0;
}

.quantity-selector > button{
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    padding: 0 16px;
    height: 36px;
}

